<style type="text/css">
.my-tooltip-btn, .ui-collapsible-content,.ui-widget-content{
	border: 0px solid #000000;
	background: rgba(255,255,255,0)!important;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%)!important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0)), color-stop(51%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)))!important;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%)!important;
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%)!important;
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%)!important;
	background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 )!important;
}

.ui-body-b, #customer5,#customer1,#flip-mini,#box,#table1,#table2,#table3,.ui-spinner{
	background: rgba(110,121,129,0.88)!important;
	background: -moz-radial-gradient(center, ellipse cover, rgba(110,121,129,0.88) 0%, rgba(31,34,35,0.80) 100%)!important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(110,121,129,0.88)), color-stop(100%, rgba(31,34,35,0.80)))!important;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(110,121,129,0.88) 0%, rgba(31,34,35,0.80) 100%)!important;
	background: -o-radial-gradient(center, ellipse cover, rgba(110,121,129,0.88) 0%, rgba(31,34,35,0.80) 100%)!important;
	background: -ms-radial-gradient(center, ellipse cover, rgba(110,121,129,0.88) 0%, rgba(31,34,35,0.80) 100%)!important;
	background: radial-gradient(ellipse at center, rgba(110,121,129,0.88) 0%, rgba(31,34,35,0.80) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e7981', endColorstr='#1f2223', GradientType=1 )!important;
}

</style>
